.calendar ul {list-style-type: none;}

/* Month header */
.month {
    padding: 70px 25px;
    width: 100%;
    background: darkgrey;
    text-align: center;
    cursor: default;
}

/* Month list */
.month ul {
    margin: 0;
    padding: 0;
}

.month ul li {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.month span{
    font-size: 24px;
}

/* Previous button inside month header */
.month .prev {
    float: left;
    padding-top: 10px;
    list-style-type: none;
}

/* Next button */
.month .next {
    float: right;
    padding-top: 10px;
    list-style-type: none;
}

/* Weekdays (Mon-Sun) */
.weekdays {
    margin: 0;
    padding: 10px 0;
    background-color:#ddd;
    cursor: default;
}

.weekdays li {
    display: inline-block;
    width: 13.6%;
    color: #666;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

/* Days (1-31) */
.days {
    padding: 10px 0;
    background: #eee;
    margin: 0;
    cursor: pointer;
}

.days li {
    list-style-type: none;
    display: inline-block;
    width: 13.6%;
    text-align: center;
    margin-bottom: 5px;
    font-size:17px;
    color: black;
}

.days li:hover:not(#disabled) {
    background-color: gold;
}
.days #active{
    font-weight: 1000;
}

.days .filled{
    color: red;
}

.days .average{
    color: orange;
}

.days .empty{
    color: green;
}

#day_content{
    margin-left: 5%;
    margin-right: 5%;
}

#day_content label{
    margin-right: 2%;
}

#day_content select{
    margin-right: 2%;
}

#day_content td{
    text-align : center;
}

#day_content th{
    text-align : center;
}