{% extends "layout.jinja2" %}

{% block content %}
<div class="content">
  <h1><center>Error 403 </center></h1>
  <h2><center>Sorry, but we you can't access this page!</center></h2>
</div>
{% endblock content %}
