{% extends "layout.jinja2" %}

{% block content %}
<div class="content">
  <h1><center>Error 404 </center></h1>
  <h2><center>Sorry, but we couldn't find this page</center></h2>
</div>
{% endblock content %}
