{% extends "layout.jinja2" %}

{% block content %}
<div class = "container">
    <h2> Please login </h2>
    <form action="/login" method = "POST">
      <div class="form-group">
        <label for="username">Username:</label>
        <input type = "text" class = "form-control" name = "username" minlength = "6" maxlength = "25" pattern = "[a-zA-Z0-9-_.]{6,25}" placeholder = "Username" required/>
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
       <input type = "password" class = "form-control" name = "password" minlength = "6" maxlength = "20" pattern = "[a-zA-Z0-9-_.,?!@#$&*<>:;]{6,20}" placeholder = "Password" required/>
      </div>
      <button type="submit" name = "login" class="btn btn-warning">Login</button>
      <button onclick="location.href = '/reset_pw';" style = "margin-left: 2%" class="btn btn-default">Reset password</button>
    </form>
    <br/>
    {% if credential_error is defined %}
      <div class="alert alert-danger">
        Invalid user credentials! Please try again.
      </div>
    {% endif %}
    {% if user_blocked is defined %}
      <div class="alert alert-danger">
        This user was blocked, please contact an admin for further information!
      </div>
    {% endif %}
</div>
{% endblock content %}
