{% extends "layout.jinja2" %}

{% block content %}
<div>
    <form action = "/register" method = "POST">
        <input type = "text" name = "username" minlength = "6" maxlength = "25" pattern = "[a-zA-Z0-9-_. ]" placeholder = "Username" required/><br/>
        <input type = "text" name = "name" minlength = "6" maxlength = "30" pattern = "[a-zA-Z0-9-_.]" placeholder = "Name" required/><br/>
        <input type = "email" name = "email" minlength = "6" maxlength = "45" placeholder = "Email" required/><br/>
        <input type = "text" name = "phone" minlength = "10" maxlength = "15" pattern = "(\+[0-9]{11,})|([0-9]{10,})" placeholder = "Phone" required/><br/>
        <input type = "text" name = "num_plate" minlength = "10" maxlength = "10" pattern = "(^[a-zA-Z]{1,2})( ?)([0-9]{2,3})( ?)([a-zA-Z]{3})|((^[a-zA-Z]{1,2})( ?)([0-9]){6})" placeholder = "Number plate" required/><br/>
        <input type = "password" name = "password" minlength = "6" maxlength = "20" pattern = "[a-zA-Z0-9-_.,?!@#$&*<>:;]" placeholder = "Password" required/><br/>
        <input type = "submit" name = "register" value = "Register"/>
    </form>
</div>
{% endblock content %}
